$background-color: #282c34;
$border-color: #dddddd;

/* color variables */
$background-color: linear-gradient(to bottom, #f9fbf7, #C9D8FF);
$lightcoral: lighten(coral, 10%);
$defaultBlueColor: #0086e4;
$gradientBackground: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$gradientDarkTheme: linear-gradient(-45deg, #353434, #6b6b6b, #676767);
$darkBackground:radial-gradient(at center bottom, #4242a2, #282828);


